In [4]:
def goodSegments(BadSegment,l,r):
    s = set()
    mx=0
    for i in BadSegment:
        if i<10001:
            s.add(i)
    
    arr=[]
    start = l
    end = r
    
    if l<1:
        start=1 
    
    if r>(10**9):
        end = (10**9)-1
        
    for item in range(start,end+1):
        if item not in s:  
            arr.append(item)
        else:
            arr.clear()
        mx=max(mx,len(arr))  
        
    return mx

In [6]:
bg=[7,8,11,23,89,10000]
print(goodSegments(bg,2,100000000))

99990000

In [18]:
a =[1,2,34,63]

In [19]:
sum(a)

100

In [1]:
import pandas as pd

In [38]:
lst1 = []
lst2 = []
for item in range(0,101):
    if (item%2)==0:
        lst1.append(item)
        
for item in range(0,100):
    if (item%2)==1:
        lst2.append(item)
        
print(len(lst1))
print(len(lst2))

51
50

In [39]:
df = pd.DataFrame(list(zip(lst1,lst2)), columns =['even','odd'])

In [40]:
df['sum'] = df['even']+df['odd']

In [41]:
df

    even  odd  sum
0      0    1    1
1      2    3    5
2      4    5    9
3      6    7   13
4      8    9   17
5     10   11   21
6     12   13   25
7     14   15   29
8     16   17   33
9     18   19   37
10    20   21   41
11    22   23   45
12    24   25   49
13    26   27   53
14    28   29   57
15    30   31   61
16    32   33   65
17    34   35   69
18    36   37   73
19    38   39   77
20    40   41   81
21    42   43   85
22    44   45   89
23    46   47   93
24    48   49   97
25    50   51  101
26    52   53  105
27    54   55  109
28    56   57  113
29    58   59  117
30    60   61  121
31    62   63  125
32    64   65  129
33    66   67  133
34    68   69  137
35    70   71  141
36    72   73  145
37    74   75  149
38    76   77  153
39    78   79  157
40    80   81  161
41    82   83  165
42    84   85  169
43    86   87  173
44    88   89  177
45    90   91  181
46    92   93  185
47    94   95  189
48    96   97  193
49    98   99  197

In [42]:
df.to_csv('result.csv')

In [43]:
col = pd.read_csv('result.csv')

In [44]:
print(col)

    Unnamed: 0  even  odd  sum
0            0     0    1    1
1            1     2    3    5
2            2     4    5    9
3            3     6    7   13
4            4     8    9   17
5            5    10   11   21
6            6    12   13   25
7            7    14   15   29
8            8    16   17   33
9            9    18   19   37
10          10    20   21   41
11          11    22   23   45
12          12    24   25   49
13          13    26   27   53
14          14    28   29   57
15          15    30   31   61
16          16    32   33   65
17          17    34   35   69
18          18    36   37   73
19          19    38   39   77
20          20    40   41   81
21          21    42   43   85
22          22    44   45   89
23          23    46   47   93
24          24    48   49   97
25          25    50   51  101
26          26    52   53  105
27          27    54   55  109
28          28    56   57  113
29          29    58   59  117
30          30    60   61  121
31          31    62   63  125
32          32    64   65  129
33          33    66   67  133
34          34    68   69  137
35          35    70   71  141
36          36    72   73  145
37          37    74   75  149
38          38    76   77  153
39          39    78   79  157
40          40    80   81  161
41          41    82   83  165
42          42    84   85  169
43          43    86   87  173
44          44    88   89  177
45          45    90   91  181
46          46    92   93  185
47          47    94   95  189
48          48    96   97  193
49          49    98   99  197

In [1]:
#https://bit.ly/2NyxdAG
from bs4 import BeautifulSoup
import requests
import re

# Download IMDB's Top 250 data
url = 'http://www.imdb.com/chart/top'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'lxml')

movies = soup.select('td.titleColumn')
links = [a.attrs.get('href') for a in soup.select('td.titleColumn a')]
crew = [a.attrs.get('title') for a in soup.select('td.titleColumn a')]
ratings = [b.attrs.get('data-value') for b in soup.select('td.posterColumn span[name=ir]')]
votes = [b.attrs.get('data-value') for b in soup.select('td.ratingColumn strong')]

imdb = []

# Store each item into dictionary (data), then put those into a list (imdb)
for index in range(0, len(movies)):
    # Seperate movie into: 'place', 'title', 'year'
    movie_string = movies[index].get_text()
    movie = (' '.join(movie_string.split()).replace('.', ''))
    movie_title = movie[len(str(index))+1:-7]
    year = re.search('\((.*?)\)', movie_string).group(1)
    place = movie[:len(str(index))-(len(movie))]
    data = {"movie_title": movie_title,
            "year": year,
            "place": place,
            "star_cast": crew[index],
            "rating": ratings[index],
            "vote": votes[index],
            "link": links[index]}
    imdb.append(data)

for item in imdb:
    print(item['place'], '-', item['movie_title'], '('+item['year']+') -', 'Starring:', item['star_cast'])

1 - The Shawshank Redemption (1994) - Starring: Frank Darabont (dir.), Tim Robbins, Morgan Freeman
2 - The Godfather (1972) - Starring: Francis Ford Coppola (dir.), Marlon Brando, Al Pacino
3 - The Godfather: Part II (1974) - Starring: Francis Ford Coppola (dir.), Al Pacino, Robert De Niro
4 - The Dark Knight (2008) - Starring: Christopher Nolan (dir.), Christian Bale, Heath Ledger
5 - 12 Angry Men (1957) - Starring: Sidney Lumet (dir.), Henry Fonda, Lee J. Cobb
6 - Schindler's List (1993) - Starring: Steven Spielberg (dir.), Liam Neeson, Ralph Fiennes
7 - The Lord of the Rings: The Return of the King (2003) - Starring: Peter Jackson (dir.), Elijah Wood, Viggo Mortensen
8 - Pulp Fiction (1994) - Starring: Quentin Tarantino (dir.), John Travolta, Uma Thurman
9 - Il buono, il brutto, il cattivo (1966) - Starring: Sergio Leone (dir.), Clint Eastwood, Eli Wallach
1 -  The Lord of the Rings: The Fellowship of the Ring (2001) - Starring: Peter Jackson (dir.), Elijah Wood, Ian McKellen
11 - Fight Club (1999) - Starring: David Fincher (dir.), Brad Pitt, Edward Norton
12 - Forrest Gump (1994) - Starring: Robert Zemeckis (dir.), Tom Hanks, Robin Wright
13 - Inception (2010) - Starring: Christopher Nolan (dir.), Leonardo DiCaprio, Joseph Gordon-Levitt
14 - Star Wars: Episode V - The Empire Strikes Back (1980) - Starring: Irvin Kershner (dir.), Mark Hamill, Harrison Ford
15 - The Lord of the Rings: The Two Towers (2002) - Starring: Peter Jackson (dir.), Elijah Wood, Ian McKellen
16 - The Matrix (1999) - Starring: Lana Wachowski (dir.), Keanu Reeves, Laurence Fishburne
17 - Goodfellas (1990) - Starring: Martin Scorsese (dir.), Robert De Niro, Ray Liotta
18 - One Flew Over the Cuckoo's Nest (1975) - Starring: Milos Forman (dir.), Jack Nicholson, Louise Fletcher
19 - Shichinin no samurai (1954) - Starring: Akira Kurosawa (dir.), Toshirô Mifune, Takashi Shimura
20 - Se7en (1995) - Starring: David Fincher (dir.), Morgan Freeman, Brad Pitt
21 - La vita è bella (1997) - Starring: Roberto Benigni (dir.), Roberto Benigni, Nicoletta Braschi
22 - Cidade de Deus (2002) - Starring: Fernando Meirelles (dir.), Alexandre Rodrigues, Leandro Firmino
23 - The Silence of the Lambs (1991) - Starring: Jonathan Demme (dir.), Jodie Foster, Anthony Hopkins
24 - It's a Wonderful Life (1946) - Starring: Frank Capra (dir.), James Stewart, Donna Reed
25 - Hamilton (2020) - Starring: Thomas Kail (dir.), Lin-Manuel Miranda, Phillipa Soo
26 - Star Wars (1977) - Starring: George Lucas (dir.), Mark Hamill, Harrison Ford
27 - Saving Private Ryan (1998) - Starring: Steven Spielberg (dir.), Tom Hanks, Matt Damon
28 - Sen to Chihiro no kamikakushi (2001) - Starring: Hayao Miyazaki (dir.), Daveigh Chase, Suzanne Pleshette
29 - Gisaengchung (2019) - Starring: Bong Joon Ho (dir.), Kang-ho Song, Sun-kyun Lee
30 - The Green Mile (1999) - Starring: Frank Darabont (dir.), Tom Hanks, Michael Clarke Duncan
31 - Interstellar (2014) - Starring: Christopher Nolan (dir.), Matthew McConaughey, Anne Hathaway
32 - Léon (1994) - Starring: Luc Besson (dir.), Jean Reno, Gary Oldman
33 - The Usual Suspects (1995) - Starring: Bryan Singer (dir.), Kevin Spacey, Gabriel Byrne
34 - Seppuku (1962) - Starring: Masaki Kobayashi (dir.), Tatsuya Nakadai, Akira Ishihama
35 - The Lion King (1994) - Starring: Roger Allers (dir.), Matthew Broderick, Jeremy Irons
36 - Back to the Future (1985) - Starring: Robert Zemeckis (dir.), Michael J. Fox, Christopher Lloyd
37 - The Pianist (2002) - Starring: Roman Polanski (dir.), Adrien Brody, Thomas Kretschmann
38 - Terminator 2: Judgment Day (1991) - Starring: James Cameron (dir.), Arnold Schwarzenegger, Linda Hamilton
39 - American History X (1998) - Starring: Tony Kaye (dir.), Edward Norton, Edward Furlong
40 - Modern Times (1936) - Starring: Charles Chaplin (dir.), Charles Chaplin, Paulette Goddard
41 - Psycho (1960) - Starring: Alfred Hitchcock (dir.), Anthony Perkins, Janet Leigh
42 - Gladiator (2000) - Starring: Ridley Scott (dir.), Russell Crowe, Joaquin Phoenix
43 - City Lights (1931) - Starring: Charles Chaplin (dir.), Charles Chaplin, Virginia Cherrill
44 - The Departed (2006) - Starring: Martin Scorsese (dir.), Leonardo DiCaprio, Matt Damon
45 - The Intouchables (2011) - Starring: Olivier Nakache (dir.), François Cluzet, Omar Sy
46 - Whiplash (2014) - Starring: Damien Chazelle (dir.), Miles Teller, J.K. Simmons
47 - The Prestige (2006) - Starring: Christopher Nolan (dir.), Christian Bale, Hugh Jackman
48 - Hotaru no haka (1988) - Starring: Isao Takahata (dir.), Tsutomu Tatsumi, Ayano Shiraishi
49 - Once Upon a Time in the West (1968) - Starring: Sergio Leone (dir.), Henry Fonda, Charles Bronson
50 - Casablanca (1942) - Starring: Michael Curtiz (dir.), Humphrey Bogart, Ingrid Bergman
51 - Nuovo Cinema Paradiso (1988) - Starring: Giuseppe Tornatore (dir.), Philippe Noiret, Enzo Cannavale
52 - Rear Window (1954) - Starring: Alfred Hitchcock (dir.), James Stewart, Grace Kelly
53 - Alien (1979) - Starring: Ridley Scott (dir.), Sigourney Weaver, Tom Skerritt
54 - Apocalypse Now (1979) - Starring: Francis Ford Coppola (dir.), Martin Sheen, Marlon Brando
55 - Memento (2000) - Starring: Christopher Nolan (dir.), Guy Pearce, Carrie-Anne Moss
56 - Raiders of the Lost Ark (1981) - Starring: Steven Spielberg (dir.), Harrison Ford, Karen Allen
57 - The Great Dictator (1940) - Starring: Charles Chaplin (dir.), Charles Chaplin, Paulette Goddard
58 - Joker (2019) - Starring: Todd Phillips (dir.), Joaquin Phoenix, Robert De Niro
59 - The Lives of Others (2006) - Starring: Florian Henckel von Donnersmarck (dir.), Ulrich Mühe, Martina Gedeck
60 - Django Unchained (2012) - Starring: Quentin Tarantino (dir.), Jamie Foxx, Christoph Waltz
61 - Paths of Glory (1957) - Starring: Stanley Kubrick (dir.), Kirk Douglas, Ralph Meeker
62 - The Shining (1980) - Starring: Stanley Kubrick (dir.), Jack Nicholson, Shelley Duvall
63 - WALL·E (2008) - Starring: Andrew Stanton (dir.), Ben Burtt, Elissa Knight
64 - Avengers: Infinity War (2018) - Starring: Anthony Russo (dir.), Robert Downey Jr., Chris Hemsworth
65 - Sunset Blvd (1950) - Starring: Billy Wilder (dir.), William Holden, Gloria Swanson
66 - Spider-Man: Into the Spider-Verse (2018) - Starring: Bob Persichetti (dir.), Shameik Moore, Jake Johnson
67 - Mononoke-hime (1997) - Starring: Hayao Miyazaki (dir.), Yôji Matsuda, Yuriko Ishida
68 - Dr Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964) - Starring: Stanley Kubrick (dir.), Peter Sellers, George C. Scott
69 - Witness for the Prosecution (1957) - Starring: Billy Wilder (dir.), Tyrone Power, Marlene Dietrich
70 - Oldeuboi (2003) - Starring: Chan-wook Park (dir.), Min-sik Choi, Ji-Tae Yoo
71 - The Dark Knight Rises (2012) - Starring: Christopher Nolan (dir.), Christian Bale, Tom Hardy
72 - Once Upon a Time in America (1984) - Starring: Sergio Leone (dir.), Robert De Niro, James Woods
73 - Avengers: Endgame (2019) - Starring: Anthony Russo (dir.), Robert Downey Jr., Chris Evans
74 - Aliens (1986) - Starring: James Cameron (dir.), Sigourney Weaver, Michael Biehn
75 - Kimi no na wa (2016) - Starring: Makoto Shinkai (dir.), Ryûnosuke Kamiki, Mone Kamishiraishi
76 - Coco (2017) - Starring: Lee Unkrich (dir.), Anthony Gonzalez, Gael García Bernal
77 - American Beauty (1999) - Starring: Sam Mendes (dir.), Kevin Spacey, Annette Bening
78 - Braveheart (1995) - Starring: Mel Gibson (dir.), Mel Gibson, Sophie Marceau
79 - 3 Idiots (2009) - Starring: Rajkumar Hirani (dir.), Aamir Khan, Madhavan
80 - Das Boot (1981) - Starring: Wolfgang Petersen (dir.), Jürgen Prochnow, Herbert Grönemeyer
81 - Toy Story (1995) - Starring: John Lasseter (dir.), Tom Hanks, Tim Allen
82 - Tengoku to jigoku (1963) - Starring: Akira Kurosawa (dir.), Toshirô Mifune, Yutaka Sada
83 - Amadeus (1984) - Starring: Milos Forman (dir.), F. Murray Abraham, Tom Hulce
84 - Taare Zameen Par (2007) - Starring: Aamir Khan (dir.), Darsheel Safary, Aamir Khan
85 - Star Wars: Episode VI - Return of the Jedi (1983) - Starring: Richard Marquand (dir.), Mark Hamill, Harrison Ford
86 - Inglourious Basterds (2009) - Starring: Quentin Tarantino (dir.), Brad Pitt, Diane Kruger
87 - Reservoir Dogs (1992) - Starring: Quentin Tarantino (dir.), Harvey Keitel, Tim Roth
88 - Good Will Hunting (1997) - Starring: Gus Van Sant (dir.), Robin Williams, Matt Damon
89 - Capharnaüm (2018) - Starring: Nadine Labaki (dir.), Zain Al Rafeea, Yordanos Shiferaw
90 - 2001: A Space Odyssey (1968) - Starring: Stanley Kubrick (dir.), Keir Dullea, Gary Lockwood
91 - Requiem for a Dream (2000) - Starring: Darren Aronofsky (dir.), Ellen Burstyn, Jared Leto
92 - Vertigo (1958) - Starring: Alfred Hitchcock (dir.), James Stewart, Kim Novak
93 - 1917 (2019) - Starring: Sam Mendes (dir.), Dean-Charles Chapman, George MacKay
94 - M - Eine Stadt sucht einen Mörder (1931) - Starring: Fritz Lang (dir.), Peter Lorre, Ellen Widmann
95 - Dangal (2016) - Starring: Nitesh Tiwari (dir.), Aamir Khan, Sakshi Tanwar
96 - Eternal Sunshine of the Spotless Mind (2004) - Starring: Michel Gondry (dir.), Jim Carrey, Kate Winslet
97 - Jagten (2012) - Starring: Thomas Vinterberg (dir.), Mads Mikkelsen, Thomas Bo Larsen
98 - Citizen Kane (1941) - Starring: Orson Welles (dir.), Orson Welles, Joseph Cotten
99 - Full Metal Jacket (1987) - Starring: Stanley Kubrick (dir.), Matthew Modine, R. Lee Ermey
10 -  Ladri di biciclette (1948) - Starring: Vittorio De Sica (dir.), Lamberto Maggiorani, Enzo Staiola
101 - North by Northwest (1959) - Starring: Alfred Hitchcock (dir.), Cary Grant, Eva Marie Saint
102 - A Clockwork Orange (1971) - Starring: Stanley Kubrick (dir.), Malcolm McDowell, Patrick Magee
103 - The Kid (1921) - Starring: Charles Chaplin (dir.), Charles Chaplin, Edna Purviance
104 - Snatch (2000) - Starring: Guy Ritchie (dir.), Jason Statham, Brad Pitt
105 - Singin' in the Rain (1952) - Starring: Stanley Donen (dir.), Gene Kelly, Donald O'Connor
106 - Scarface (1983) - Starring: Brian De Palma (dir.), Al Pacino, Michelle Pfeiffer
107 - Taxi Driver (1976) - Starring: Martin Scorsese (dir.), Robert De Niro, Jodie Foster
108 - Amélie (2001) - Starring: Jean-Pierre Jeunet (dir.), Audrey Tautou, Mathieu Kassovitz
109 - Lawrence of Arabia (1962) - Starring: David Lean (dir.), Peter O'Toole, Alec Guinness
110 - Toy Story 3 (2010) - Starring: Lee Unkrich (dir.), Tom Hanks, Tim Allen
111 - The Sting (1973) - Starring: George Roy Hill (dir.), Paul Newman, Robert Redford
112 - Ikiru (1952) - Starring: Akira Kurosawa (dir.), Takashi Shimura, Nobuo Kaneko
113 - Metropolis (1927) - Starring: Fritz Lang (dir.), Brigitte Helm, Alfred Abel
114 - Jodaeiye Nader az Simin (2011) - Starring: Asghar Farhadi (dir.), Payman Maadi, Leila Hatami
115 - Per qualche dollaro in più (1965) - Starring: Sergio Leone (dir.), Clint Eastwood, Lee Van Cleef
116 - Incendies (2010) - Starring: Denis Villeneuve (dir.), Lubna Azabal, Mélissa Désormeaux-Poulin
117 - The Apartment (1960) - Starring: Billy Wilder (dir.), Jack Lemmon, Shirley MacLaine
118 - Double Indemnity (1944) - Starring: Billy Wilder (dir.), Fred MacMurray, Barbara Stanwyck
119 - To Kill a Mockingbird (1962) - Starring: Robert Mulligan (dir.), Gregory Peck, John Megna
120 - Indiana Jones and the Last Crusade (1989) - Starring: Steven Spielberg (dir.), Harrison Ford, Sean Connery
121 - Anand (1971) - Starring: Hrishikesh Mukherjee (dir.), Rajesh Khanna, Amitabh Bachchan
122 - Up (2009) - Starring: Pete Docter (dir.), Edward Asner, Jordan Nagai
123 - Idi i smotri (1985) - Starring: Elem Klimov (dir.), Aleksey Kravchenko, Olga Mironova
124 - LA Confidential (1997) - Starring: Curtis Hanson (dir.), Kevin Spacey, Russell Crowe
125 - Heat (1995) - Starring: Michael Mann (dir.), Al Pacino, Robert De Niro
126 - Monty Python and the Holy Grail (1975) - Starring: Terry Gilliam (dir.), Graham Chapman, John Cleese
127 - Die Hard (1988) - Starring: John McTiernan (dir.), Bruce Willis, Alan Rickman
128 - Rashômon (1950) - Starring: Akira Kurosawa (dir.), Toshirô Mifune, Machiko Kyô
129 - Yôjinbô (1961) - Starring: Akira Kurosawa (dir.), Toshirô Mifune, Eijirô Tôno
130 - Batman Begins (2005) - Starring: Christopher Nolan (dir.), Christian Bale, Michael Caine
131 - Green Book (2018) - Starring: Peter Farrelly (dir.), Viggo Mortensen, Mahershala Ali
132 - Der Untergang (2004) - Starring: Oliver Hirschbiegel (dir.), Bruno Ganz, Alexandra Maria Lara
133 - Bacheha-Ye aseman (1997) - Starring: Majid Majidi (dir.), Mohammad Amir Naji, Amir Farrokh Hashemian
134 - Unforgiven (1992) - Starring: Clint Eastwood (dir.), Clint Eastwood, Gene Hackman
135 - Some Like It Hot (1959) - Starring: Billy Wilder (dir.), Marilyn Monroe, Tony Curtis
136 - Ran (1985) - Starring: Akira Kurosawa (dir.), Tatsuya Nakadai, Akira Terao
137 - Hauru no ugoku shiro (2004) - Starring: Hayao Miyazaki (dir.), Chieko Baishô, Takuya Kimura
138 - The Great Escape (1963) - Starring: John Sturges (dir.), Steve McQueen, James Garner
139 - All About Eve (1950) - Starring: Joseph L. Mankiewicz (dir.), Bette Davis, Anne Baxter
140 - A Beautiful Mind (2001) - Starring: Ron Howard (dir.), Russell Crowe, Ed Harris
141 - Casino (1995) - Starring: Martin Scorsese (dir.), Robert De Niro, Sharon Stone
142 - Pan's Labyrinth (2006) - Starring: Guillermo del Toro (dir.), Ivana Baquero, Ariadna Gil
143 - The Wolf of Wall Street (2013) - Starring: Martin Scorsese (dir.), Leonardo DiCaprio, Jonah Hill
144 - El secreto de sus ojos (2009) - Starring: Juan José Campanella (dir.), Ricardo Darín, Soledad Villamil
145 - Lock, Stock and Two Smoking Barrels (1998) - Starring: Guy Ritchie (dir.), Jason Flemyng, Dexter Fletcher
146 - Tonari no Totoro (1988) - Starring: Hayao Miyazaki (dir.), Hitoshi Takagi, Noriko Hidaka
147 - Raging Bull (1980) - Starring: Martin Scorsese (dir.), Robert De Niro, Cathy Moriarty
148 - There Will Be Blood (2007) - Starring: Paul Thomas Anderson (dir.), Daniel Day-Lewis, Paul Dano
149 - The Treasure of the Sierra Madre (1948) - Starring: John Huston (dir.), Humphrey Bogart, Walter Huston
150 - Judgment at Nuremberg (1961) - Starring: Stanley Kramer (dir.), Spencer Tracy, Burt Lancaster
151 - Babam ve Oglum (2005) - Starring: Çagan Irmak (dir.), Çetin Tekindor, Fikret Kuskan
152 - Three Billboards Outside Ebbing, Missouri (2017) - Starring: Martin McDonagh (dir.), Frances McDormand, Woody Harrelson
153 - Dial M for Murder (1954) - Starring: Alfred Hitchcock (dir.), Ray Milland, Grace Kelly
154 - The Gold Rush (1925) - Starring: Charles Chaplin (dir.), Charles Chaplin, Mack Swain
155 - Chinatown (1974) - Starring: Roman Polanski (dir.), Jack Nicholson, Faye Dunaway
156 - V for Vendetta (2005) - Starring: James McTeigue (dir.), Hugo Weaving, Natalie Portman
157 - No Country for Old Men (2007) - Starring: Ethan Coen (dir.), Tommy Lee Jones, Javier Bardem
158 - Shutter Island (2010) - Starring: Martin Scorsese (dir.), Leonardo DiCaprio, Emily Mortimer
159 - Det sjunde inseglet (1957) - Starring: Ingmar Bergman (dir.), Max von Sydow, Gunnar Björnstrand
160 - Inside Out (2015) - Starring: Pete Docter (dir.), Amy Poehler, Bill Hader
161 - Warrior (2011) - Starring: Gavin O'Connor (dir.), Tom Hardy, Nick Nolte
162 - The Elephant Man (1980) - Starring: David Lynch (dir.), Anthony Hopkins, John Hurt
163 - Trainspotting (1996) - Starring: Danny Boyle (dir.), Ewan McGregor, Ewen Bremner
164 - The Sixth Sense (1999) - Starring: M. Night Shyamalan (dir.), Bruce Willis, Haley Joel Osment
165 - The Thing (1982) - Starring: John Carpenter (dir.), Kurt Russell, Wilford Brimley
166 - Jurassic Park (1993) - Starring: Steven Spielberg (dir.), Sam Neill, Laura Dern
167 - Gone with the Wind (1939) - Starring: Victor Fleming (dir.), Clark Gable, Vivien Leigh
168 - Smultronstället (1957) - Starring: Ingmar Bergman (dir.), Victor Sjöström, Bibi Andersson
169 - Blade Runner (1982) - Starring: Ridley Scott (dir.), Harrison Ford, Rutger Hauer
170 - Finding Nemo (2003) - Starring: Andrew Stanton (dir.), Albert Brooks, Ellen DeGeneres
171 - Room (2015) - Starring: Lenny Abrahamson (dir.), Brie Larson, Jacob Tremblay
172 - The Truman Show (1998) - Starring: Peter Weir (dir.), Jim Carrey, Ed Harris
173 - The Bridge on the River Kwai (1957) - Starring: David Lean (dir.), William Holden, Alec Guinness
174 - Stalker (1979) - Starring: Andrei Tarkovsky (dir.), Alisa Freyndlikh, Aleksandr Kaydanovskiy
175 - Kill Bill: Vol 1 (2003) - Starring: Quentin Tarantino (dir.), Uma Thurman, David Carradine

176 - Fargo (1996) - Starring: Joel Coen (dir.), William H. Macy, Frances McDormand
177 - The Third Man (1949) - Starring: Carol Reed (dir.), Orson Welles, Joseph Cotten
178 - On the Waterfront (1954) - Starring: Elia Kazan (dir.), Marlon Brando, Karl Malden
179 - Gran Torino (2008) - Starring: Clint Eastwood (dir.), Clint Eastwood, Bee Vang
180 - Tôkyô monogatari (1953) - Starring: Yasujirô Ozu (dir.), Chishû Ryû, Chieko Higashiyama
181 - Salinui chueok (2003) - Starring: Bong Joon Ho (dir.), Kang-ho Song, Sang-kyung Kim
182 - The Deer Hunter (1978) - Starring: Michael Cimino (dir.), Robert De Niro, Christopher Walken
183 - Relatos salvajes (2014) - Starring: Damián Szifron (dir.), Darío Grandinetti, María Marull
184 - Andhadhun (2018) - Starring: Sriram Raghavan (dir.), Ayushmann Khurrana, Tabu
185 - Klaus (2019) - Starring: Sergio Pablos (dir.), Jason Schwartzman, J.K. Simmons
186 - In the Name of the Father (1993) - Starring: Jim Sheridan (dir.), Daniel Day-Lewis, Pete Postlethwaite
187 - Mary and Max (2009) - Starring: Adam Elliot (dir.), Toni Collette, Philip Seymour Hoffman
188 - Eskiya (1996) - Starring: Yavuz Turgul (dir.), Sener Sen, Ugur Yücel
189 - The Big Lebowski (1998) - Starring: Joel Coen (dir.), Jeff Bridges, John Goodman
190 - Gone Girl (2014) - Starring: David Fincher (dir.), Ben Affleck, Rosamund Pike
191 - Hacksaw Ridge (2016) - Starring: Mel Gibson (dir.), Andrew Garfield, Sam Worthington
192 - The Grand Budapest Hotel (2014) - Starring: Wes Anderson (dir.), Ralph Fiennes, F. Murray Abraham
193 - Before Sunrise (1995) - Starring: Richard Linklater (dir.), Ethan Hawke, Julie Delpy
194 - Catch Me If You Can (2002) - Starring: Steven Spielberg (dir.), Leonardo DiCaprio, Tom Hanks
195 - To Be or Not to Be (1942) - Starring: Ernst Lubitsch (dir.), Carole Lombard, Jack Benny
196 - Persona (1966) - Starring: Ingmar Bergman (dir.), Bibi Andersson, Liv Ullmann
197 - Ford v Ferrari (2019) - Starring: James Mangold (dir.), Matt Damon, Christian Bale
198 - The General (1926) - Starring: Clyde Bruckman (dir.), Buster Keaton, Marion Mack
199 - How to Train Your Dragon (2010) - Starring: Dean DeBlois (dir.), Jay Baruchel, Gerard Butler
200 - Prisoners (2013) - Starring: Denis Villeneuve (dir.), Hugh Jackman, Jake Gyllenhaal
201 - Sherlock Jr (1924) - Starring: Buster Keaton (dir.), Buster Keaton, Kathryn McGuire
202 - Mr Smith Goes to Washington (1939) - Starring: Frank Capra (dir.), James Stewart, Jean Arthur
203 - 12 Years a Slave (2013) - Starring: Steve McQueen (dir.), Chiwetel Ejiofor, Michael Kenneth Williams
204 - Barry Lyndon (1975) - Starring: Stanley Kubrick (dir.), Ryan O'Neal, Marisa Berenson
205 - Mad Max: Fury Road (2015) - Starring: George Miller (dir.), Tom Hardy, Charlize Theron
206 - Stand by Me (1986) - Starring: Rob Reiner (dir.), Wil Wheaton, River Phoenix
207 - Network (1976) - Starring: Sidney Lumet (dir.), Faye Dunaway, William Holden
208 - Cool Hand Luke (1967) - Starring: Stuart Rosenberg (dir.), Paul Newman, George Kennedy
209 - Million Dollar Baby (2004) - Starring: Clint Eastwood (dir.), Hilary Swank, Clint Eastwood
210 - Into the Wild (2007) - Starring: Sean Penn (dir.), Emile Hirsch, Vince Vaughn
211 - Hachi: A Dog's Tale (2009) - Starring: Lasse Hallström (dir.), Richard Gere, Joan Allen
212 - Le salaire de la peur (1953) - Starring: Henri-Georges Clouzot (dir.), Yves Montand, Charles Vanel
213 - Ben-Hur (1959) - Starring: William Wyler (dir.), Charlton Heston, Jack Hawkins
214 - Dead Poets Society (1989) - Starring: Peter Weir (dir.), Robin Williams, Robert Sean Leonard
215 - Platoon (1986) - Starring: Oliver Stone (dir.), Charlie Sheen, Tom Berenger
216 - Life of Brian (1979) - Starring: Terry Jones (dir.), Graham Chapman, John Cleese
217 - Harry Potter and the Deathly Hallows: Part 2 (2011) - Starring: David Yates (dir.), Daniel Radcliffe, Emma Watson
218 - Du rififi chez les hommes (1955) - Starring: Jules Dassin (dir.), Jean Servais, Carl Möhner
219 - Logan (2017) - Starring: James Mangold (dir.), Hugh Jackman, Patrick Stewart
220 - Rush (2013) - Starring: Ron Howard (dir.), Daniel Brühl, Chris Hemsworth
221 - La passion de Jeanne d'Arc (1928) - Starring: Carl Theodor Dreyer (dir.), Maria Falconetti, Eugene Silvain
222 - Ah-ga-ssi (2016) - Starring: Chan-wook Park (dir.), Min-hee Kim, Jung-woo Ha
223 - Les quatre cents coups (1959) - Starring: François Truffaut (dir.), Jean-Pierre Léaud, Albert Rémy
224 - Andrei Rublev (1966) - Starring: Andrei Tarkovsky (dir.), Anatoliy Solonitsyn, Ivan Lapikov
225 - Hotel Rwanda (2004) - Starring: Terry George (dir.), Don Cheadle, Sophie Okonedo
226 - Amores perros (2000) - Starring: Alejandro G. Iñárritu (dir.), Emilio Echevarría, Gael García Bernal
227 - Spotlight (2015) - Starring: Tom McCarthy (dir.), Mark Ruffalo, Michael Keaton
228 - Rang De Basanti (2006) - Starring: Rakeysh Omprakash Mehra (dir.), Aamir Khan, Soha Ali Khan
229 - Kaze no tani no Naushika (1984) - Starring: Hayao Miyazaki (dir.), Sumi Shimamoto, Mahito Tsujimura
230 - Rocky (1976) - Starring: John G. Avildsen (dir.), Sylvester Stallone, Talia Shire
231 - La haine (1995) - Starring: Mathieu Kassovitz (dir.), Vincent Cassel, Hubert Koundé
232 - Rebecca (1940) - Starring: Alfred Hitchcock (dir.), Laurence Olivier, Joan Fontaine
233 - Monsters, Inc (2001) - Starring: Pete Docter (dir.), Billy Crystal, John Goodman
234 - Gangs of Wasseypur (2012) - Starring: Anurag Kashyap (dir.), Manoj Bajpayee, Richa Chadha
235 - Portrait de la jeune fille en feu (2019) - Starring: Céline Sciamma (dir.), Noémie Merlant, Adèle Haenel
236 - The Circus (1928) - Starring: Charles Chaplin (dir.), Charles Chaplin, Merna Kennedy
237 - It Happened One Night (1934) - Starring: Frank Capra (dir.), Clark Gable, Claudette Colbert
238 - Before Sunset (2004) - Starring: Richard Linklater (dir.), Ethan Hawke, Julie Delpy
239 - Fa yeung nin wah (2000) - Starring: Kar-Wai Wong (dir.), Tony Chiu-Wai Leung, Maggie Cheung
240 - Paris, Texas (1984) - Starring: Wim Wenders (dir.), Harry Dean Stanton, Nastassja Kinski
241 - Drishyam (2015) - Starring: Nishikant Kamat (dir.), Ajay Devgn, Shriya Saran
242 - The Help (2011) - Starring: Tate Taylor (dir.), Emma Stone, Viola Davis
243 - Contratiempo (2016) - Starring: Oriol Paulo (dir.), Mario Casas, Ana Wagener
244 - The Princess Bride (1987) - Starring: Rob Reiner (dir.), Cary Elwes, Mandy Patinkin
245 - The Terminator (1984) - Starring: James Cameron (dir.), Arnold Schwarzenegger, Linda Hamilton
246 - La battaglia di Algeri (1966) - Starring: Gillo Pontecorvo (dir.), Brahim Hadjadj, Jean Martin
247 - Swades: We, the People (2004) - Starring: Ashutosh Gowariker (dir.), Shah Rukh Khan, Gayatri Joshi
248 - Hera Pheri (2000) - Starring: Priyadarshan (dir.), Akshay Kumar, Sunil Shetty
249 - Chak De! India (2007) - Starring: Shimit Amin (dir.), Shah Rukh Khan, Vidya Malvade
250 - Lagaan: Once Upon a Time in India (2001) - Starring: Ashutosh Gowariker (dir.), Aamir Khan, Raghuvir Yadav

In [4]:
import pandas as pd
data = pd.DataFrame(imdb)
data

,movie_title,year,place,star_cast,rating,vote,link
0,The Shawshank Redemption,1994,1,"Frank Darabont (dir.), Tim Robbins, Morgan Fre...",9.22245582291786,None,/title/tt0111161/
1,The Godfather,1972,2,"Francis Ford Coppola (dir.), Marlon Brando, Al...",9.148967243321431,None,/title/tt0068646/
2,The Godfather: Part II,1974,3,"Francis Ford Coppola (dir.), Al Pacino, Robert...",8.981139484139678,None,/title/tt0071562/
3,The Dark Knight,2008,4,"Christopher Nolan (dir.), Christian Bale, Heat...",8.972287455047764,None,/title/tt0468569/
4,12 Angry Men,1957,5,"Sidney Lumet (dir.), Henry Fonda, Lee J. Cobb",8.929004079218425,None,/title/tt0050083/
...,...,...,...,...,...,...,...
245,La battaglia di Algeri,1966,246,"Gillo Pontecorvo (dir.), Brahim Hadjadj, Jean ...",8.007262121637853,None,/title/tt0058946/
246,"Swades: We, the People",2004,247,"Ashutosh Gowariker (dir.), Shah Rukh Khan, Gay...",8.00723974094756,None,/title/tt0367110/
247,Hera Pheri,2000,248,"Priyadarshan (dir.), Akshay Kumar, Sunil Shetty",8.00687211044878,None,/title/tt0242519/
248,Chak De! India,2007,249,"Shimit Amin (dir.), Shah Rukh Khan, Vidya Malvade",8.006849526314637,None,/title/tt0871510/
249,Lagaan: Once Upon a Time in India,2001,250,"Ashutosh Gowariker (dir.), Aamir Khan, Raghuvi...",8.006724505409432,None,/title/tt0169102/

In [6]:
data.to_csv('imdb.csv',index = False)

In [12]:
res = pd.read_csv('imdb.csv')

In [13]:
res

,movie_title,year,place,star_cast,rating,vote,link
0,The Shawshank Redemption,1994,1,"Frank Darabont (dir.), Tim Robbins, Morgan Fre...",9.222456,NaN,/title/tt0111161/
1,The Godfather,1972,2,"Francis Ford Coppola (dir.), Marlon Brando, Al...",9.148967,NaN,/title/tt0068646/
2,The Godfather: Part II,1974,3,"Francis Ford Coppola (dir.), Al Pacino, Robert...",8.981139,NaN,/title/tt0071562/
3,The Dark Knight,2008,4,"Christopher Nolan (dir.), Christian Bale, Heat...",8.972287,NaN,/title/tt0468569/
4,12 Angry Men,1957,5,"Sidney Lumet (dir.), Henry Fonda, Lee J. Cobb",8.929004,NaN,/title/tt0050083/
...,...,...,...,...,...,...,...
245,La battaglia di Algeri,1966,246,"Gillo Pontecorvo (dir.), Brahim Hadjadj, Jean ...",8.007262,NaN,/title/tt0058946/
246,"Swades: We, the People",2004,247,"Ashutosh Gowariker (dir.), Shah Rukh Khan, Gay...",8.007240,NaN,/title/tt0367110/
247,Hera Pheri,2000,248,"Priyadarshan (dir.), Akshay Kumar, Sunil Shetty",8.006872,NaN,/title/tt0242519/
248,Chak De! India,2007,249,"Shimit Amin (dir.), Shah Rukh Khan, Vidya Malvade",8.006850,NaN,/title/tt0871510/
249,Lagaan: Once Upon a Time in India,2001,250,"Ashutosh Gowariker (dir.), Aamir Khan, Raghuvi...",8.006725,NaN,/title/tt0169102/